@import 'tailwindcss/preflight' layer(utilities);
@import 'tailwindcss/utilities' layer(utilities);

:root {
  --color-blue-main: #3B82F6;
}

.h-100 {
  height: 36rem;
}

.border {
  border: solid 1px #cccccc;
}
.border:hover {
  border-color: #B2B2B2;
}
.border:focus,
.border-shadow,
.border-hover:hover  {
  border-color: var(--color-blue-main);
  box-shadow: 0 0 0 1px var(--color-blue-main);
}

/* Solve the problem of poor display effect caused by the height of the cover image exceeding the range under the first theme */
.h-max.w-full {
  height: 420px;
}

.h-99 {
  height: 35rem;
}

.filter-opacity-50 {
  filter: opacity(0.5);
}

@media (min-width: 768px) {
  .h-main {
    height: calc(100vh - 66px);
  }
}

